/* alawyes show scroll bar start */
html {
  overflow-y: scroll;
}

/* scroll bar */

/* side bar */
div.side-bar-scroll::-webkit-scrollbar {
  width: 7px;
}

div.channel-side-bar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
div.side-bar-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fafafa;
  border-radius: 10px;
  margin-top: 45px;
  margin-bottom: 22px;
}
div.channel-side-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fafafa;
  border-radius: 10px;
}

div.side-bar-scroll:hover::-webkit-scrollbar-thumb {
  background: #b3b0b0;
  border-radius: 10px;
}
div.channel-side-bar:hover::-webkit-scrollbar-thumb {
  background: #b3b0b0;
  border-radius: 10px;
}

/* sidebar end */

/* alawyes show scroll bar End */

body {
  background-color: #fafafa !important;
  padding-right: 0px !important;
}
/* Channel Tabs Start */
.latest-under-line {
  height: 3px;
  width: 90px;
  background-color: black;
}
.about-under-line {
  height: 3px;
  width: 77px;
  background-color: black;
  margin-left: 112px;
}
.line {
  margin-top: 0px;
  padding-top: 0px;
}
/* Channel Tabs End */

/* Channel sidebar,MainTag,SubTag  start */

.channel-side-bar-sticky {
  position: sticky;
  top: 58px;
}
.channel-side-bar {
  overflow-x: hidden;

  background: #fff;
  margin-bottom: 6px;
  /* box-shadow: 0 5px 0.9rem -0.8rem rgba(0, 0, 0, 0.8),
    0 0 0 1px rgba(0, 0, 0, 0.05); */
  border-radius: 5px;
  padding: 5px;
}
.main-tag-button {
  color: #212529;
  background-color: white;
  border-color: none !important;
  margin-bottom: 5px !important;
  transform: none !important;
  transition: none !important;
}
.main-tag-button:not(:disabled):not(.disabled):active:focus,
.main-tag-button:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: none !important;
}

.main-tag-button:focus,
.main-tag-button.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: none;
  box-shadow: none;
  /* box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); */
  border-radius: 8px !important;
  outline: none !important;
}
.main-tag-button:active {
  transform: none !important;
  outline: none !important;
}

.b-button:focus,
.b-button.focus {
  /* color: #212529; */
  /* background-color: #e2e6ea; */
  border-color: none;
  /* box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); */
  /* border-radius: 8px !important; */
}

.main-tag-button:hover {
  border-radius: 8px !important;
}

.channel-side-bar-title {
  height: 78px;
  line-height: 40px;
  font-size: 20px;
  background-color: #343a40;
  color: white;
  margin-bottom: 6px;
  border-radius: 3px;
  margin-top: 2px;
}
.channel-side-bar-list-group {
  overflow: auto;
}

.channel-side-bar-list-item {
  font-size: 16px;
  border: none !important;
  margin-bottom: 0px;
  cursor: pointer;
  text-align: left;
  border-radius: 0px;
  line-height: 40px;
}
.menu-logo {
  border: none !important;
  outline: none !important;
  outline-style: none !important;
}
.channel-side-bar-list-item-icon {
  height: 33px;
  width: 37px;
  margin-left: -8px;
  margin-right: 13px;
}
.sub-tag {
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.06); */
  /* border-radius: 6px; */
  /* text-align: center; */
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  font-size: 14px !important;
}

/* Channel sidebar,MainTag,SubTag end */

/* home page start */

@media (min-width: 1350px) {
  .container {
    max-width: 1250px;
  }
  .home-sidebar {
    padding-right: 27px;
  }
  .home-latest {
    padding-left: 27px;
  }

  .index-home-card {
    padding-left: 27px;
    padding-right: 27px;
  }
  .latest-home-card-detailpage {
    margin-left: -16px;
  }
  .details-main-image {
    margin-right: 10px;
  }
  .view-logo-detailpage {
    margin-right: 15px;
  }
}

/* home page end */

/* CHANNEL cover */
.channel-cover-title {
  text-align: center !important;
}
a {
  border: none !important;
  outline: none !important;
  outline-style: none !important;
}

.more-button {
  /* background: white; */
  border: 1px solid #dadce0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  padding: 7px 11px;
  position: relative;
  text-align: center;
  width: 100px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 5px 0.9rem -0.8rem rgba(0, 0, 0, 0.8),
    0 0 0 1px rgba(0, 0, 0, 0.05);
}

.more-button-icon {
  left: 12px;
  margin-top: 0;

  height: 20px;
  width: 20px;

  align-self: center;
}

/* autoComplete */
.autocomplete-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e4e6e8 !important;
  opacity: 1; /* Firefox */
}
.autocomplete-input {
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #3b4045;
  background-color: #3b4045;
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
  color: #e4e6e8 !important;
  height: 34px;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded="true"] {
  /* border: 1px solid #565b61; */
  background-color: #3b4045;
  outline: none;
  color: #e4e6e8 !important;
}

/* [data-position="below"] .autocomplete-input[aria-expanded="true"] {
 
} */

[data-position="above"] .autocomplete-input[aria-expanded="true"] {
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

/* Loading spinner */
/* .autocomplete[data-loading="true"]::after { */
/* content: "";
  border: 3px solid #000000;
  border-right: 3px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 1s infinite linear; */

.autocomplete-result-list {
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .autocomplete-result-list {
  margin-top: 8px;
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  padding-bottom: 0px;
}

[data-position="above"] .autocomplete-result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
  padding-top: 8px;
}

/* Single result item */
.autocomplete-result {
  cursor: default;
  padding: 12px 12px 12px 48px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 12px center;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.06);
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(359deg);
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  [data-position="below"] .autocomplete-result-list {
    margin-top: 8px;
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    padding-bottom: 0px;
    color: black;
    font-size: 16px;
  }
}

.vs-button--flat:focus {
  color: #fff;
  outline: none;
}

@media (max-width: 425px) {
  .carousel-inner img {
    height: 177px !important;
  }
  .my-custome-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .home-main-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .carousel-inner {
    border-radius: 0px !important;
  }

  .home-sidebar,
  .home-latest,
  .index-home-card {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
.carousel-inner {
  border-radius: 5px !important;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0px;
  z-index: 10;
  padding-bottom: 20px;
  padding-top: 65px;
  color: #fff;
  text-align: left;
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent 23%,
    rgba(0, 0, 0, 0.29) 48%,
    #080808
  );
  padding-left: 8%;
}

.copy-logo {
  background-color: white;
}
.vs-dialog__close {
  background-color: white !important;
}
.vs-dialog {
  background-color: #3b4045 !important;
  color: white !important;
}
